version: '3.9'
services:
  api:
    build: ./
    command: uvicorn app.api:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - ENV=development
      - DATABASE_URL=mongodb://mongo:27017
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    depends_on:
      mongo:
        condition: service_started


  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
